---
/**
 * Build all archives pages (index) routes.
 *
 * Important: if you change the file name/folder then make sure you change
 * ARCHIVES_PAGE_BASE to match.
 */

import type { GetStaticPaths } from 'astro';

import BaseLayout from '~/layouts/BaseLayout.astro';
import { archiveEntries } from '~/archives';
import { ARCHIVES_PAGE_BASE, ARCHIVES_PAGE_SIZE } from '~/constants';
import PaginationLinks from '~/components/PaginationLinks.astro';
import { entryTitle } from '~/util/titles';

export const getStaticPaths = (async ({ paginate }) => {
	return paginate(archiveEntries, {
		pageSize: ARCHIVES_PAGE_SIZE,
	});
}) satisfies GetStaticPaths;

const { data, currentPage, lastPage } = Astro.props.page;
const pageXofY = lastPage > 1 ? `Page ${currentPage} of ${lastPage}` : '';
---

<BaseLayout title={'Archives' + (pageXofY ? ' ' + pageXofY : '')} type="index">
	<h1 class:list={[{ 'with-byline': pageXofY }]}>Archives</h1>
	{pageXofY && <p class="byline-big">{pageXofY}</p>}
	<ul class="archives-list">
		{
			data.map((entry) => (
				<li>
					<a href={`/${entry.id}`}>{entryTitle(entry)}</a>
				</li>
			))
		}
	</ul>
	<PaginationLinks
		currentPage={currentPage}
		lastPage={lastPage}
		baseUrl={ARCHIVES_PAGE_BASE}
		slot="bottom-navigation"
	/>
</BaseLayout>
