---
/**
 * Build all archives pages (index) routes.
 *
 * Important: if you change the file name/folder then make sure you change
 * ARCHIVES_PAGE_BASE to match.
 */

import type { GetStaticPaths } from 'astro';

import BaseLayout from '~/layouts/BaseLayout.astro';
import ArchivesList from '~/components/ArchivesList.astro';
import PaginationLinks from '~/components/PaginationLinks.astro';
import TopLinks from '~/components/TopLinks.astro';

import { archiveEntries } from '~/archives';
import { ARCHIVES_PAGE_BASE, ARCHIVES_PAGE_SIZE } from '~/constants';

export const getStaticPaths = (async ({ paginate }) => {
	return paginate(archiveEntries, {
		pageSize: ARCHIVES_PAGE_SIZE,
	});
}) satisfies GetStaticPaths;

const { data, currentPage, lastPage } = Astro.props.page;
const pageXofY = lastPage > 1 ? `Page ${currentPage} of ${lastPage}` : '';

// Assumes all archives are in a folder!
// We use Map instead of Object as Object will order by integers first (or
// strings it can make into integers), then strings, so in our case we'd get
// 2000,2001,1990s, but map will keep the insertion order.
const dataByFolder = Map.groupBy(data, ({ id }) => id.split('/')[0]);
---

<BaseLayout title={'Archives' + (pageXofY ? ' ' + pageXofY : '')} type="index">
	<TopLinks exclude="archives" />
	<h1 class:list={[{ 'with-byline': pageXofY }]}>Archives</h1>
	{pageXofY && <p class="byline-big">{pageXofY}</p>}
	{
		Array.from(dataByFolder, ([folder, data]) => (
			<>
				<h2 class="archives-group">{folder}</h2>
				<ArchivesList list={data} />
			</>
		))
	}
	<PaginationLinks
		currentPage={currentPage}
		lastPage={lastPage}
		baseUrl={ARCHIVES_PAGE_BASE}
		slot="bottom-navigation"
	/>
</BaseLayout>
