---
import type { CollectionEntry } from 'astro:content';

import BaseLayout from '~/layouts/BaseLayout.astro';
import Heading from '~/components/Heading.astro';
import NextPrevLinks from '~/components/NextPrevLinks.astro';
import Related from '~/components/Related.astro';

import { getArchivesPage } from '~/archives';
import { titleDate } from '~/util/titles';

interface Props {
	data: CollectionEntry<'archives'>['data'];
	index: number;
}

const { id } = Astro.params;
const { data, index } = Astro.props;
const { title, date, showDate, category } = data;
let { byline = '' } = data;

let titleTag = title; // the page title tag, i.e. what appears in the browser tab

if (showDate) {
	const article_date = titleDate(date);
	if (byline) byline += ' - ';
	byline += article_date;
	titleTag += ` - ${article_date}`;
}
---

<BaseLayout title={titleTag} type="archive">
	<nav slot="top-navigation" class="top-nav">
		<a href={getArchivesPage(index)} class="no-unvisited">Archives</a>
	</nav>
	<article>
		<Heading {title} {byline} />
		<slot />
	</article>
	<NextPrevLinks index={index} slot="bottom-navigation" />
	{category && <Related id={id!} category={category} slot="related" />}
</BaseLayout>
