---
import type { CollectionEntry } from 'astro:content';

import BaseLayout from '~/layouts/BaseLayout.astro';
import Heading from '~/components/Heading.astro';
import NextPrevLinks from '~/components/NextPrevLinks.astro';
import TopLinks from '~/components/TopLinks.astro';
import Related from '~/components/Related.astro';

import { titleDate } from '~/util/titles';

interface Props {
	data: CollectionEntry<'archives'>['data'];
	index: number;
}

const { id } = Astro.params;
const { data, index } = Astro.props;
const { title, date, showDate, category, video = false } = data;
let { byline = '' } = data;

let titleTag = title; // the page title tag, i.e. what appears in the browser tab

if (showDate) {
	const article_date = titleDate(date);
	if (byline) byline += ' - ';
	byline += article_date;
	titleTag += ` - ${article_date}`;
}
---

<BaseLayout title={titleTag} type="archive">
	<TopLinks slot="top-navigation" {index} />
	<article>
		<Heading {title} {byline} />
		<slot />
	</article>
	{
		video && (
			<nav class="content-links">
				<a href="/videos">Other videos</a>
			</nav>
		)
	}
	<NextPrevLinks index={index} slot="bottom-navigation" />
	{category && <Related id={id!} category={category} slot="footer-navigation" />}
</BaseLayout>
